<app-breadcrumbs [title]="myCurrentUrl"></app-breadcrumbs>

<!-- ======= Pricing Section ======= -->
<section id="planes" class="pricing">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Elige tu plan</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="box featured">
            <h3>20 Mbps</h3>
            <h4><sup>S/</sup>50<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured">
            <h3>30 Mbps</h3>
            <h4><sup>S/</sup>60<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box featured">
            <h3>40 Mbps</h3>
            <h4><sup>S/</sup>70<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box featured">
            <h3>60 Mbps</h3>
            <h4><sup>S/</sup>80<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>

      </div>

      <br>

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="box featured">
            <h3>100 Mbps</h3>
            <h4><sup>S/</sup>100<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured">
            <h3>150 Mbps</h3>
            <h4><sup>S/</sup>150<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box featured">
            <h3>200 Mbps</h3>
            <h4><sup>S/</sup>200<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box featured">
            <h3>250 Mbps</h3>
            <h4><sup>S/</sup>250<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>

      </div>

      <br>

      <div class="row">
        <div class="col-md-3 col-lg-3" style="float: none; margin: 0 auto;">
          <div class="box featured">
            <h3>500 Mbps</h3>
            <h4><sup>S/</sup>450<span> / mes</span></h4>
            <div class="btn-wrap">
              <a [href]="loQuieroLink" target="_blank" class="btn-buy">Lo quiero</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Preguntas frecuentes</h2>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">¿Qué es y cómo funciona la fibra óptica? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                La fibra óptica está conformada por finos hilos de vidrio a través de los cuales se transmite la información 
                en forma de datos. Estos datos son enviados como señales de luz, por lo que alcanzan grandes velocidades y 
                la señal de Internet que se obtiene es de muy buena calidad.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">¿Qué beneficios obtengo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                Por las características de la fibra óptica, obtiene beneficios como mayor ancho de banda y velocidades superiores a las demás tecnologías, 
                esta tecnología logra transmisiones de audio y vídeo en alta calidad, transferencia de datos en tiempo real, entre otros beneficios.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">¿Cómo puedo inscribirme? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                Si usted desea formar parte de la gran familia CHAYAY solo necesita comunicarse con uno de nuestros 
                asesores que con gusto atenderá su pedido.
              </p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->